<header>
    {{!-- <h1>{{title}}</h1> --}}

    <div class="head">
        <h1>Weather app</h1>
        <img class="icon-responsive" src="/img/meteo.png" alt="meteo" />
    </div>
    <nav>
        <ul>
            <li><a href="/">Weather | </a></li>
            <li><a href="/about">About | </a></li>
            <li><a href="/help">Help </a></li>
        </ul>
    </nav>

</header>